<main>
  <app-learning-resources appLog />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()){
    Only visible to admins
  } -->
    <!-- <p *ngIf="isAdmin()">Only visible to admins</p> -->
    <!-- using template way -->
    <!-- <ng-template appAuth="admin">
      <p>Only visible to admins</p>
    </ng-template> -->

    <!-- more shorter syntax using syntatic sugar way -->
    <p appLog *appAuth="'admin'" class="protected-content admin">Only visible to admins</p>
    <p appLog *appAuth="'user'" class="protected-content unauthenticated">Regular user should see this!</p>
    <p appLog *appAuth="'guest'" class="protected-content authenticated">Guest user should see this!</p>
</main>
